* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* #F0DB4F
 #32333D
 #000117
 */


 .img_nav {
    width: 200px;
 }

@media (max-width: 400px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        height: 150px;
        box-shadow: 0px 8px 24px #000117;
        position:fixed;
        width: 100%;
        z-index: 1;
    }
    .menu_toggle {
        display: none;
    }

    label {
        margin: 40px;
    }
    
    .toggle {
        display: none;
        position: absolute;
        text-align: center;
        background: #F0DB4F;
        border-radius: 10px;
        padding: 20px;
        width: 150px;
        justify-content: center;
        align-items: center;
        right: 40px;
        transition: .4s ease-in;
    }

    .toggle li {
        list-style: none;
        display: block;
        padding: 10px 0;
        color: #000117;
    }

    .toggle li a {
        text-decoration: none;
        color: #000117;
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600px;
    }

    .menu_toggle:checked + .toggle {
        display: block;
        transition: .4s ease;
        box-shadow: 2px 4px 20px #000117;
    }
} 
 